%bfr-ftr-base {
    content: "";
    position: absolute;
}

%section {
    min-height: 500px;
    max-height: fit-content;
    padding: 10px;
    border-radius: 20px;
    @include flex(center, center);
}

%center-element {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}