.skills-section{
    @extend %section;
    flex-direction: column;
    .skills-content{
        width: 100%;
        max-height: inherit;
        @include flex(flex-start, start);
        flex-wrap: wrap;
        gap: 10px;
        
        .card{
            width: 300px;
            min-height: 200px;
            max-width: fit-content;
            padding: 20px;
            color: $color-primary-3;
            border: 2px solid $color-primary-2;
            border-radius: 8px;
            font-size: generate-rem(25);
            @include flex(center,flex-start);
            flex-direction: column;
            gap: 10px;
            flex-grow: 1;
            cursor: pointer;
            img{
                width: 25px;
                display: block;
            }
            P{
                font-size: generate-rem(20);
            }
        }
    }
}