@font-face {
    font-family: "Nunito";
    src: url(/assets/fonts/Nunito-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding: 80px;
}

:root {
    --color-1: #9c86ff;
    --transparent-clr: #9c86ff31;
    --color-2: #0F0F0F;
    --color-3: #FFFFFF;
}

::selection {
    opacity: 0;
}

body {
    font-family: "Nunito";
}

a,
ul {
    text-decoration: none;
    list-style: none;
    color: initial;
}

.container {
    max-width: 1000px;
    height: fit-content;
    margin: auto;
}

.header {
    width: 100%;
    height: 70px;
    padding: 20px;
    background: var(--color-3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.header .logo a {
    color: var(--color-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 1.5rem;
}

.header ul {
    background: var(--transparent-clr);
    border-radius: 20px;
    display: flex;
    gap: 30px;
}

.header ul li {
    padding: 8px 16px;
    color: #8c74fa;
    font-size: 18px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.header ul li :is(svg) {
    width: 30px;
    aspect-ratio: 1;
    transition: .3s linear;
}

.header ul li .contact {
    height: fit-content;
    padding: 5px;
    background: var(--color-3);
    border: 2px solid var(--transparent-clr);
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    bottom: -5px;
    right: 10px;
    transform: translateY(0%);
    opacity: 0;
    transition: .3s linear;
    z-index: 1;
}

.header ul li .contact p:first-child {
    font-size: 13px;
    width: 100%;
    color: gray;
}

.header ul li .contact a {
    width: 100%;
    height: 50%;
    padding: 10px;
    background: var(--transparent-clr);
    color: var(--color-1);
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
}

.header ul li .contact a svg {
    width: 20px;
    height: 20px;
}

.header ul li:has(.contact):hover .contact {
    transform: translateY(100%);
    opacity: 1;
}

.header ul li:has(.contact):hover .arrow {
    transform: rotate(180deg);
}


section {
    padding: 20px;
}

section h1.section-title {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

section h1.section-title::before {
    content: "";
    width: 100%;
    height: 5px;
    background: linear-gradient(90deg, transparent, var(--transparent-clr), var(--transparent-clr), transparent);
    position: absolute;
}

.section-home {
    width: 100%;
    min-height: fit-content;
    background: linear-gradient(180deg, transparent, var(--transparent-clr), var(--transparent-clr), transparent);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.section-home .home-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}


.section-home .home-content #before {
    content: "";
    width: 0;
    height: 0;
    border: 40px solid var(--color-3);
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
}

.section-home .home-content :is(.left-content, .right-content) {
    width: 50%;
}

.section-home .home-content .right-content {
    display: flex;
    align-items: center;
    justify-content: right;
}

.section-home .home-content .right-content img {
    width: 100%;
    height: 100%;
    border-radius: 0px 20px 20px 0px;
    object-fit: cover;
}

.section-home .home-content .left-content {
    padding: 20px;
    color: gray;
    background: var(--color-3);
    border-radius: 20px 0px 0px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem;
    position: relative;
}

.section-home .home-content .left-content h2 {
    color: var(--color-1);
}

.section-home .home-content .left-content #more {
    width: fit-content;
    padding: 10px 20px;
    margin-top: 10px;
    color: var(--color-3);
    background: var(--color-1);
    border-radius: 30px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transform: scale(.98);
    transition: .3s linear;
    position: relative;
    overflow: hidden;
}

.section-home .home-content .left-content #more svg {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-100%);
    transition: .3s linear;
}

.section-home .home-content .left-content #more:hover {
    transform: scale(1);
    box-shadow: 0 0 20px var(--color-1);
}

.section-home .home-content .left-content #more:hover svg {
    position: relative;
    transform: initial;
}

section h1.section-title span {
    position: relative;
    padding: 10px 20px;
    background: var(--color-3);
    color: gray;
    border: 5px solid var(--transparent-clr);
    border-radius: 50px;
    transform: rotate(-10deg);
}

.section-about .about-content {
    min-height: 420px;
    max-height: fit-content;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.section-about .about-content img {
    width: 170px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid #9c86ff71;
    outline: 15px solid var(--transparent-clr);
}

.section-about .about-content .txt-content {
    max-width: 500px;
    text-align: center;
    padding: 10;
    font-size: 1.5rem;
}

.section-about .about-content .txt-content span {
    color: var(--color-1);
}

.section-skills {
    width: 100%;
    min-height: 500px;
    max-height: fit-content;
}

.section-skills .skills-content {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.section-skills .skills-content .skill {
    width: 50%;
    padding: 10px;
    color: var(--color-1);
    background: linear-gradient(90deg, transparent, var(--transparent-clr), transparent);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    flex-grow: 1;
    font-size: 20px;
}

.section-skills .skills-content .skill :is(svg) {
    width: 50px;
    aspect-ratio: 1;
}

.section-skills .skills-content .skill .skill-progress {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.section-skills .skills-content .skill .skill-progress p {
    width: 100%;
    height: 8px;
    background: var(--transparent-clr);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.section-skills .skills-content .skill .skill-progress p::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    background: var(--color-1);
}

.section-skills .skills-content .skill:first-child .line-progress::before {
    width: 90%;
}

.section-skills .skills-content .skill:nth-child(2) .line-progress::before {
    width: 75%;
}

.section-skills .skills-content .skill:last-child .line-progress::before {
    width: 50%;
}

footer {
    color: grey;
    padding: 20px;
}

.menu-btn {
    width: 40px;
    height: 40px;
    padding: 5px;
    border: none;
    background: none;
    display: none;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    gap: 5px;
    position: relative;
}

.menu-btn span {
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, transparent, var(--color-2), transparent);
    border-radius: 10px;
    transition: .4s linear;
}

.menu-btn span:nth-child(2) {
    width: 80%;
}

.menu-btn span:last-child {
    width: 50%;
}

.menu-btn.toggle-btn span {
    position: absolute;
    width: 90%;
}

.menu-btn.toggle-btn span:nth-child(1) {
    transform: rotate(40deg);
}

.menu-btn.toggle-btn span:nth-child(2) {
    transform: rotate(-40deg);
}

.menu-btn.toggle-btn span:last-child {
    opacity: 0;
}

@media (max-width: 720px) {
    .menu-btn {
        display: flex;
        cursor: pointer;
    }

    .header ul {
        position: fixed;
        width: 0%;
        height: 0;
        padding: 20px;
        backdrop-filter: blur(5px);
        background: linear-gradient(90deg, #ffffffcb, #ffffffcb, #ffffffcb, transparent);
        border: 2px solid var(--transparent-clr);
        flex-direction: column;
        gap: 0px;
        left: 50%;
        top: 80px;
        transform: translateX(-50%);
        overflow: hidden;
        opacity: 0;
        transition: .4s linear;
    }

    .header ul.toggle-ul {
        height: fit-content;
        opacity: 1;
        width: 95%;
        overflow: initial;
    }

    .header ul li {
        width: fit-content;
    }

    .header ul li .contact {
        transform: translateX(-200px);
    }

    .header ul li:hover .contact {
        transform: translate(30px, 100%) !important;
    }

    .section-home .home-content {
        flex-direction: column-reverse;
        gap: 50px;
    }

    .section-home .home-content #before {
        display: none;
    }

    .section-home .home-content :is(.left-content, .right-content) {
        width: 100%;
        border-radius: 20px;
    }

    .section-home .home-content .left-content {
        align-items: center;
    }

    .section-home .home-content .left-content h2 {
        text-align: center;
    }

    .section-home .home-content .left-content::before {
        content: "";
        border: 40px solid red;
        position: absolute;
        top: 0;
        transform: translateY(-100%);
        border-color: transparent transparent var(--color-3) transparent;
    }

    .section-home .home-content .right-content {
        width: 100%;
        justify-content: center;
    }

    .section-home .home-content .right-content img {
        width: 200px;
        border-radius: 20px;
    }

    .section-skills .skills-content .skill {
        width: 100%;
    }
}